@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {box-sizing: border-box;}
body {font-family: 'Noto Sans KR', sans-serif; margin: 0; overflow-x: hidden;}
h1,h2,h3,h4,h5,h6, figure, p {margin: 0;}
a {text-decoration: none;}
ul, li {list-style: none; padding: 0; margin: 0;}
img {vertical-align: middle;}
table {border-collapse: collapse;}

header {
    position: fixed; width: 100%; height: 87px;
    .header_w {
        width: 100%; height: 100%; border-bottom: 1px solid rgba(255,255,255, .15); display: flex; justify-content: space-between; align-items: center;
        h1 {
            width: 295px; height: 100%; text-align: center; line-height: 87px;
            img.white {display: inline-block;}
            img.black {display: none;}
        }
        .mn ul {
            display: flex; align-items: center;
            li {
                
                a {color: #fff; font-size: 18px; font-weight: 500; padding: 30px;}
            }
        }
        .member {
            width: 325px; height: 100%; padding: 0; text-align: right;
            ul {
                display: inline-flex; align-items: center; margin-right: 20px;
                li:nth-of-type(1)::after {content: ' · '; display: inline-block; color: #fff; width: 29px; text-align: center;}
                li a {color: #fff; font-size: 15px;}
            }
            button {
                width: 190px; height: 100%; background: #d1aa77; color: #fff; border-width: 0; display: inline-block; padding:  0; margin: 0;
                font-size: 16px; font-weight: 700; cursor: pointer;
                &::before {content: url('../img/ico_cal.png'); padding-right: 10px; vertical-align: middle;}
            }
        }
    }
}

header.active {
    background: #fff; box-shadow: 10px 10px 10px 14px rgba(0, 0, 0, .15); z-index: 10;
    .header_w {
        border-bottom: 0px solid rgba(255,255,255, .15);
        h1 {
            img.white {display: none;}
            img.black {display: inline-block;}
        }
        .mn ul {
            li {
                a {color: #222;}
            }
        }
        .member {
            ul {
                li:nth-of-type(1)::after {color: #999;}
                li a {color: #999;}
            }
        }
    }
}

.main_v {
    width: 100%; height: 980px; position: relative; background: url('../img/main_bg.jpg') center; z-index: -1;
    .slide_w {
        width: 1480px; height: 100%; margin: 0 auto; position: relative;
        .slide {
            width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: flex-start; flex-direction: column; position: relative;
            .txt {
                color: #fff; padding-top: 295px; animation: txt 1s alternate linear; animation-delay: 0.5s; position: absolute; left: 0%;
                h3 {
                    font-size: 48px; font-weight: 500; position: relative;
                    &::before {content: ''; display: block; position: absolute; width: 23px; height: 18px; left: 0; top: -40px; background: url('../img/tit_before.png');}
                }
                h2 {
                    font-size: 70px; font-weight: 700; color: #f2d3ab; position: relative;
                    &::before {content: ''; display: block; position: absolute; width: 513px; height: 20px; transform: skewX(-45deg); bottom: 5px; left: -10px; background: rgba(209,170,119,.3);}
                }
                p {margin: 50px 0 60px 0; font-size: 18px; line-height: 28px;}
                a {
                    display: block; width: 165px; height: 52px; padding-right: 40px; border-radius: 26px; border: 1px solid #fff; line-height: 50px; text-align: center; color: #fff; position: relative;
                    &::after {content: ''; display: inline-block; width: 24px; height: 6px; background: url('../img/btn_more.png'); position: absolute; top: 23px; left: 115px;}
                }
            }
            .img_w {
                .img_1 {position: absolute; top: 305px; right: -30px; animation: img1 1s alternate linear;}
                .img_2 {position: absolute; top: 60px; right: -70px; animation: img2 1s alternate linear; animation-delay: 1s;}
            }
        }
        @keyframes img1 {
            0% {opacity: 0; right: -100%;}
            100% {opacity: 1; right: -30px;}
        }
        @keyframes img2 {
            0% {opacity: 0; right: -100%;}
            100% {opacity: 1; right: -70px;}
        }
        @keyframes txt {
            0% {opacity: 0; left: -100%;}
            100% {opacity: 1; left: 0;}
        }
        .pager {
            position: absolute; left: 0; bottom: 100px;
            span {font-size: 16px; color: #fff;}
            span.on {font-weight: 500;}
            ul {
                display: inline-flex; vertical-align: middle; margin: -2px 10px 0 10px;
                li {width: 30px; height: 2px; font-size: 0; background: rgba(255,255,255, .3);}
                li.on {width: 50px; background: #fff;}
            }
        }
        .arrow {
            .prev {left: -105px; top: 525px; position: absolute;}
            .next {right: -105px; top: 525px; position: absolute;}
        }
    }
}

.season {
    width: 1480px; margin: 0 auto 100px auto;
    .tit {
        padding: 120px 0 80px 0;
        h2 {
            font-family: 'Archivo Black', sans-serif; font-size: 90px; color: #d1aa77; text-align: center; line-height: 1;
            span {color: #fff; text-shadow:-1px -1px 0 #d1aa77, 1px -1px 0 #d1aa77, -1px 1px 0 #d1aa77, 1px 1px 0 #d1aa77;}
        }
    }
    .slider_w {
        position: relative; width: 100%;
        ul {
            display: flex; transform: translateX(-25%);
            li.swiper-slide {
                z-index: 1;
                dd.img {display: block;}
                dd.img img {transform: scale(0.75); opacity: .6;}
                dt {display: none;}
                dd {display: none;}
            }
            li.swiper-slide-active {
                text-align: center;
                dd.img img {transform: scale(1); opacity: 1;}
                dt {font-size: 26px; color: #222; font-weight: 700; display: block;}
                dd.txt {font-size: 16px; color: #666; margin: 25px 0 40px 0;}
                dd {text-align: center; display: block;}
                dd a {
                    display: block; width: 165px; height: 52px; padding-right: 40px; border-radius: 26px; border: 1px solid #666; line-height: 50px; text-align: center; color: #666; position: relative; margin: 0 auto;
                    &::after {content: ''; display: inline-block; width: 24px; height: 6px; background: url('../img/btn_more2.png'); position: absolute; top: 23px; left: 115px;}
                    &:hover {background: #666; color: #fff;}
                    &:hover::after {background: url('../img/btn_more.png');}
                }
            }
            
        }
        .arrow {
            
            .prev {left: 270px; top: 250px; position: absolute; z-index: 1;}
            .next {right: 270px; top: 250px; position: absolute; z-index: 1;}
        }
    }
}

.brand {
    background: url('../img/brand_bg.jpg');
    .logo {
        width: 1480px; height: 300vh; margin: 0 auto; display: flex; justify-content: center; align-items: center; position: relative;
        p {width: 100%; height: 110px; position:sticky;}
        p img {height: 100%}
    }
    .chef {
        width: 1480px; margin: 0 auto; display: flex; justify-content: space-between;
        .txt {
            padding: 245px 0 190px 60px;
            h3 {
                position: relative;
                span {font-family: 'Archivo Black', sans-serif; font-size: 42px; color: #222; z-index: 10; position: relative; text-transform: uppercase;}
                &::before {content: ''; display: block; position: absolute; width: 100px; height: 100px; border-radius: 50%; background: #e5cfb0; z-index: 1; top: -45px; left: -60px;}
            }
            p {font-size: 18px; line-height: 28px; color: #666; margin-top: 40px;}
        }
        .img_w {
            position: relative;
            .img_1 {position: absolute; top: 120px; right: 250px; z-index: 5;}
            .img_2 {position: absolute; top: 435px; right: 0; z-index: 1;}
        }
    }
    .spot {
        width: 1480px; margin: 0 auto; display: flex; justify-content: space-between; padding: 200px 0 320px 0;
        .txt {
            padding: 130px 90px 0 0; order: 2;
            h3 {
                position: relative;
                span {font-family: 'Archivo Black', sans-serif; font-size: 42px; color: #222; z-index: 10; position: relative; text-transform: uppercase;}
                &::before {content: ''; display: block; position: absolute; width: 100px; height: 100px; border-radius: 50%; background: #e5cfb0; z-index: 1; top: -45px; left: -60px;}
            }
            p {font-size: 18px; line-height: 28px; color: #666; margin-top: 40px;}
            a {
                margin-top: 40px; display: block; position: relative; width: 175px; height: 52px; border-radius: 26px; border: 1px solid #666; font-size: 16px; padding-right: 25px; font-weight: 300; color: #666; text-align: center; line-height: 50px;
                &::after {content: ''; display: block; position: absolute; width: 24px; height: 6px; background: url('../img/btn_more3.png'); top: calc(50% - 3px); right: 25px;}
            }
        }
        .img_w {
            position: relative; order: 1;
            .img_1 {position: absolute; top: 0; left: 250px; z-index: 5;}
            .img_2 {position: absolute; top: 300px; left: 0; z-index: 1;}
        }
    }
}

.menu_w {
    width: 100%; height: 774px; position: relative; background: url('../img/menu_bg.jpg') no-repeat center;
    .menu {
        width: 1480px; margin: 0 auto; padding: 120px 0; position: relative;
        .tit {
            margin-bottom: 30px;
            h2 {
                font-family: 'Archivo Black', sans-serif; font-size: 90px; color: #d1aa77; text-align: center; line-height: 1; text-align: left;
                span {color: #fff; text-shadow:-1px -1px 0 #d1aa77, 1px -1px 0 #d1aa77, -1px 1px 0 #d1aa77, 1px 1px 0 #d1aa77;}
            }
        }
        .mn { 
            width: 250px;
            ul  li {
                height: 40px; line-height: 40px;
                a {color: #aaa; font-size: 20px;}
                a.on {
                    color: #222; font-weight: 700; padding-left: 20px; position: relative;
                    span {position: relative; z-index: 2;}
                    &::before {position: absolute; content: ''; display: block; width: 130px; height: 10px; background: #f1e5d6; z-index: 0; bottom: 0;}
                    &::after {content: ''; position: absolute; z-index: 3; background: url('../img/menu_ck.png') no-repeat; width: 14px; height: 12px; top: calc(50% - 6px); right: -25px;}
                }
            }
        }
        .pager {
            display: flex; padding-top: 80px;
            .num {
                padding: 0 65px; color: #666; font-size: 16px; width: auto;
                span {color: #222; font-weight: 700;}
            }
        }
        .slider {
            position: absolute; top: 120px; left: calc(50% - 355px); width: 1324px; overflow: hidden; padding-bottom: 50px;
            ul {
                display: flex;
                li {position: relative; /*width: 360px; height: 360px;*/ padding: 40px;}
                li div.cur {display: none;}
                li img {width: 100%;}
                li:nth-of-type(3n) {transform: translateY(70px);}
                li.swiper-slide-active {width: 534px !important; /*height: 534px;*/ box-shadow: 14px 14px 14px 1px rgba(0, 0, 0, .3); transform: scale(1); padding: 0;}
                li.swiper-slide-active div.cur {display: block; position: absolute; text-align: center; line-height: 100px; color: #222; font-size: 16px;
                    width: 100px; height: 100px;
                    /*top: 20%; left: 20%;
                    margin: -50px 0 0 -50px;*/
                    background: #fc4b0011;
                    border-radius: 50%;
                    backdrop-filter: blur(24px); cursor: none;}
                li.swiper-slide-active div.cur span {text-align: center; color: #222; font-weight: 400;}
                li p {position: absolute; left: 80px; bottom: 80px; color: #fff; font-size: 22px; font-weight: 500;}
                li.swiper-slide-active p {position: absolute; left: 50px; bottom: 50px; color: #fff; font-size: 26px; font-weight: 700;}
                li i {display: none;}
                li.swiper-slide-active i {width: 16px; height: 22px; display: inline-block; position: absolute; bottom: 50px; right: 50px;}
                li i img {width: 100%;}
            }
            div.cur {display: block; position: absolute; text-align: center; line-height: 100px; color: #222; font-size: 16px;
                width: 100px; height: 100px;
                /*top: 20%; left: 20%;*/
                margin: -50px 0 0 -50px;
                background: #fc4b0011;
                pointer-events: none; // 커서가 느리게 움직이는 부분 방지
                border-radius: 50%;
                backdrop-filter: blur(24px); cursor: none;}
        }
    }

}

.banner {
    background: url('../img/banner_bg.jpg') center;
    .banner_w {
        width: 1480px; height: 1135px; margin: 0 auto; position: relative; display: flex; justify-content: center; align-items: center;
        h2 {
            font-size: 64px; font-family: 'Archivo Black', sans-serif; color: #d1aa77; text-align: center; line-height: 70px;
            span {color: #fff; text-shadow:-1px -1px 0 #d1aa77, 1px -1px 0 #d1aa77, -1px 1px 0 #d1aa77, 1px 1px 0 #d1aa77; display: block;}
        }
        .bn {
            position: absolute; overflow: hidden;
            .img_w img {transition: .5s;}
            .txt {
                border: 1px solid rgba(255,255,255, .2); width: calc(100% - 20px); height: calc(100% - 20px); position: absolute; left: 10px; top: 10px; display: flex; justify-content: center; align-items: center;
                p {font-size: 22px; font-weight: 700; color: #fff;}
            }
        }
        .bn:hover {
            .img_w img {transform: scale(1.1);}
            .txt {
                border: 0; width: 100%; height: 100%; background: rgba(115,95,69,.8); left: 0; top: 0;
                p::after {content: ''; display: inline-block;}
            }
        }
        .banner_01 {left: 0; top: 120px; width: 480px; height: 300px;}
        .banner_02 {right: 125px; top: 220px; width: 355px; height: 355px;}
        .banner_03 {left: 290px; top: 710px; width: 240px; height: 240px;}
        .banner_04 {right: 0; top: 755px; width: 375px; height: 260px;}
        .banner_05 {left: 50px; top: 835px; width: 180px; height: 180px;}
    }
}

footer {
    background: #2b2926; height: 145px; display: flex; justify-content: space-between;
    .logo {width: 16%; padding-top: 35px; text-align: center;}
    .copy {
        width: 59%; padding-top: 35px; color: #fff;
        ul {
            display: flex;
            li {margin: 0 30px 0 0;}
            li a{color: #fff; font-size: 15px; font-weight: 300;}
        }
        p {font-size: 15px; line-height: 25px; font-weight: 300; padding-top: 15px;}
    }
    .sns {
        width: 25%;
        ul {
            display: flex; margin-top: 50px;
            li {height: 44px; line-height: 44px;}
            li.store {width: 145px; height: 44px; border-radius: 22px; background: rgba(255,255,255, .15); text-align: center; margin-left: 10px;}
        }
    }

}

.mgt-50 {margin-top: 50px;}
.mgt-125 {margin-top: 125px;}