@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

header {
  position: fixed;
  width: 100%;
  height: 87px;
}

header .header_w {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_w h1 {
  width: 295px;
  height: 100%;
  text-align: center;
  line-height: 87px;
}

header .header_w h1 img.white {
  display: inline-block;
}

header .header_w h1 img.black {
  display: none;
}

header .header_w .mn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_w .mn ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 30px;
}

header .header_w .member {
  width: 325px;
  height: 100%;
  padding: 0;
  text-align: right;
}

header .header_w .member ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

header .header_w .member ul li:nth-of-type(1)::after {
  content: ' · ';
  display: inline-block;
  color: #fff;
  width: 29px;
  text-align: center;
}

header .header_w .member ul li a {
  color: #fff;
  font-size: 15px;
}

header .header_w .member button {
  width: 190px;
  height: 100%;
  background: #d1aa77;
  color: #fff;
  border-width: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

header .header_w .member button::before {
  content: url("../img/ico_cal.png");
  padding-right: 10px;
  vertical-align: middle;
}

header.active {
  background: #fff;
  -webkit-box-shadow: 10px 10px 10px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 10px 14px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

header.active .header_w {
  border-bottom: 0px solid rgba(255, 255, 255, 0.15);
}

header.active .header_w h1 img.white {
  display: none;
}

header.active .header_w h1 img.black {
  display: inline-block;
}

header.active .header_w .mn ul li a {
  color: #222;
}

header.active .header_w .member ul li:nth-of-type(1)::after {
  color: #999;
}

header.active .header_w .member ul li a {
  color: #999;
}

.main_v {
  width: 100%;
  height: 980px;
  position: relative;
  background: url("../img/main_bg.jpg") center;
  z-index: -1;
}

.main_v .slide_w {
  width: 1480px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main_v .slide_w .slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main_v .slide_w .slide .txt {
  color: #fff;
  padding-top: 295px;
  -webkit-animation: txt 1s alternate linear;
          animation: txt 1s alternate linear;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  position: absolute;
  left: 0%;
}

.main_v .slide_w .slide .txt h3 {
  font-size: 48px;
  font-weight: 500;
  position: relative;
}

.main_v .slide_w .slide .txt h3::before {
  content: '';
  display: block;
  position: absolute;
  width: 23px;
  height: 18px;
  left: 0;
  top: -40px;
  background: url("../img/tit_before.png");
}

.main_v .slide_w .slide .txt h2 {
  font-size: 70px;
  font-weight: 700;
  color: #f2d3ab;
  position: relative;
}

.main_v .slide_w .slide .txt h2::before {
  content: '';
  display: block;
  position: absolute;
  width: 513px;
  height: 20px;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  bottom: 5px;
  left: -10px;
  background: rgba(209, 170, 119, 0.3);
}

.main_v .slide_w .slide .txt p {
  margin: 50px 0 60px 0;
  font-size: 18px;
  line-height: 28px;
}

.main_v .slide_w .slide .txt a {
  display: block;
  width: 165px;
  height: 52px;
  padding-right: 40px;
  border-radius: 26px;
  border: 1px solid #fff;
  line-height: 50px;
  text-align: center;
  color: #fff;
  position: relative;
}

.main_v .slide_w .slide .txt a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 6px;
  background: url("../img/btn_more.png");
  position: absolute;
  top: 23px;
  left: 115px;
}

.main_v .slide_w .slide .img_w .img_1 {
  position: absolute;
  top: 305px;
  right: -30px;
  -webkit-animation: img1 1s alternate linear;
          animation: img1 1s alternate linear;
}

.main_v .slide_w .slide .img_w .img_2 {
  position: absolute;
  top: 60px;
  right: -70px;
  -webkit-animation: img2 1s alternate linear;
          animation: img2 1s alternate linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes img1 {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: -30px;
  }
}

@keyframes img1 {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: -30px;
  }
}

@-webkit-keyframes img2 {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: -70px;
  }
}

@keyframes img2 {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: -70px;
  }
}

@-webkit-keyframes txt {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes txt {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.main_v .slide_w .pager {
  position: absolute;
  left: 0;
  bottom: 100px;
}

.main_v .slide_w .pager span {
  font-size: 16px;
  color: #fff;
}

.main_v .slide_w .pager span.on {
  font-weight: 500;
}

.main_v .slide_w .pager ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin: -2px 10px 0 10px;
}

.main_v .slide_w .pager ul li {
  width: 30px;
  height: 2px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.3);
}

.main_v .slide_w .pager ul li.on {
  width: 50px;
  background: #fff;
}

.main_v .slide_w .arrow .prev {
  left: -105px;
  top: 525px;
  position: absolute;
}

.main_v .slide_w .arrow .next {
  right: -105px;
  top: 525px;
  position: absolute;
}

.season {
  width: 1480px;
  margin: 0 auto 100px auto;
}

.season .tit {
  padding: 120px 0 80px 0;
}

.season .tit h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 90px;
  color: #d1aa77;
  text-align: center;
  line-height: 1;
}

.season .tit h2 span {
  color: #fff;
  text-shadow: -1px -1px 0 #d1aa77, 1px -1px 0 #d1aa77, -1px 1px 0 #d1aa77, 1px 1px 0 #d1aa77;
}

.season .slider_w {
  position: relative;
  width: 100%;
}

.season .slider_w ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.season .slider_w ul li.swiper-slide {
  z-index: 1;
}

.season .slider_w ul li.swiper-slide dd.img {
  display: block;
}

.season .slider_w ul li.swiper-slide dd.img img {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  opacity: .6;
}

.season .slider_w ul li.swiper-slide dt {
  display: none;
}

.season .slider_w ul li.swiper-slide dd {
  display: none;
}

.season .slider_w ul li.swiper-slide-active {
  text-align: center;
}

.season .slider_w ul li.swiper-slide-active dd.img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.season .slider_w ul li.swiper-slide-active dt {
  font-size: 26px;
  color: #222;
  font-weight: 700;
  display: block;
}

.season .slider_w ul li.swiper-slide-active dd.txt {
  font-size: 16px;
  color: #666;
  margin: 25px 0 40px 0;
}

.season .slider_w ul li.swiper-slide-active dd {
  text-align: center;
  display: block;
}

.season .slider_w ul li.swiper-slide-active dd a {
  display: block;
  width: 165px;
  height: 52px;
  padding-right: 40px;
  border-radius: 26px;
  border: 1px solid #666;
  line-height: 50px;
  text-align: center;
  color: #666;
  position: relative;
  margin: 0 auto;
}

.season .slider_w ul li.swiper-slide-active dd a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 6px;
  background: url("../img/btn_more2.png");
  position: absolute;
  top: 23px;
  left: 115px;
}

.season .slider_w ul li.swiper-slide-active dd a:hover {
  background: #666;
  color: #fff;
}

.season .slider_w ul li.swiper-slide-active dd a:hover::after {
  background: url("../img/btn_more.png");
}

.season .slider_w .arrow .prev {
  left: 270px;
  top: 250px;
  position: absolute;
  z-index: 1;
}

.season .slider_w .arrow .next {
  right: 270px;
  top: 250px;
  position: absolute;
  z-index: 1;
}

.brand {
  background: url("../img/brand_bg.jpg");
}

.brand .logo {
  width: 1480px;
  height: 300vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.brand .logo p {
  width: 100%;
  height: 110px;
  position: -webkit-sticky;
  position: sticky;
}

.brand .logo p img {
  height: 100%;
}

.brand .chef {
  width: 1480px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand .chef .txt {
  padding: 245px 0 190px 60px;
}

.brand .chef .txt h3 {
  position: relative;
}

.brand .chef .txt h3 span {
  font-family: 'Archivo Black', sans-serif;
  font-size: 42px;
  color: #222;
  z-index: 10;
  position: relative;
  text-transform: uppercase;
}

.brand .chef .txt h3::before {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e5cfb0;
  z-index: 1;
  top: -45px;
  left: -60px;
}

.brand .chef .txt p {
  font-size: 18px;
  line-height: 28px;
  color: #666;
  margin-top: 40px;
}

.brand .chef .img_w {
  position: relative;
}

.brand .chef .img_w .img_1 {
  position: absolute;
  top: 120px;
  right: 250px;
  z-index: 5;
}

.brand .chef .img_w .img_2 {
  position: absolute;
  top: 435px;
  right: 0;
  z-index: 1;
}

.brand .spot {
  width: 1480px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 200px 0 320px 0;
}

.brand .spot .txt {
  padding: 130px 90px 0 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.brand .spot .txt h3 {
  position: relative;
}

.brand .spot .txt h3 span {
  font-family: 'Archivo Black', sans-serif;
  font-size: 42px;
  color: #222;
  z-index: 10;
  position: relative;
  text-transform: uppercase;
}

.brand .spot .txt h3::before {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e5cfb0;
  z-index: 1;
  top: -45px;
  left: -60px;
}

.brand .spot .txt p {
  font-size: 18px;
  line-height: 28px;
  color: #666;
  margin-top: 40px;
}

.brand .spot .txt a {
  margin-top: 40px;
  display: block;
  position: relative;
  width: 175px;
  height: 52px;
  border-radius: 26px;
  border: 1px solid #666;
  font-size: 16px;
  padding-right: 25px;
  font-weight: 300;
  color: #666;
  text-align: center;
  line-height: 50px;
}

.brand .spot .txt a::after {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 6px;
  background: url("../img/btn_more3.png");
  top: calc(50% - 3px);
  right: 25px;
}

.brand .spot .img_w {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.brand .spot .img_w .img_1 {
  position: absolute;
  top: 0;
  left: 250px;
  z-index: 5;
}

.brand .spot .img_w .img_2 {
  position: absolute;
  top: 300px;
  left: 0;
  z-index: 1;
}

.menu_w {
  width: 100%;
  height: 774px;
  position: relative;
  background: url("../img/menu_bg.jpg") no-repeat center;
}

.menu_w .menu {
  width: 1480px;
  margin: 0 auto;
  padding: 120px 0;
  position: relative;
}

.menu_w .menu .tit {
  margin-bottom: 30px;
}

.menu_w .menu .tit h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 90px;
  color: #d1aa77;
  text-align: center;
  line-height: 1;
  text-align: left;
}

.menu_w .menu .tit h2 span {
  color: #fff;
  text-shadow: -1px -1px 0 #d1aa77, 1px -1px 0 #d1aa77, -1px 1px 0 #d1aa77, 1px 1px 0 #d1aa77;
}

.menu_w .menu .mn {
  width: 250px;
}

.menu_w .menu .mn ul li {
  height: 40px;
  line-height: 40px;
}

.menu_w .menu .mn ul li a {
  color: #aaa;
  font-size: 20px;
}

.menu_w .menu .mn ul li a.on {
  color: #222;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}

.menu_w .menu .mn ul li a.on span {
  position: relative;
  z-index: 2;
}

.menu_w .menu .mn ul li a.on::before {
  position: absolute;
  content: '';
  display: block;
  width: 130px;
  height: 10px;
  background: #f1e5d6;
  z-index: 0;
  bottom: 0;
}

.menu_w .menu .mn ul li a.on::after {
  content: '';
  position: absolute;
  z-index: 3;
  background: url("../img/menu_ck.png") no-repeat;
  width: 14px;
  height: 12px;
  top: calc(50% - 6px);
  right: -25px;
}

.menu_w .menu .pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

.menu_w .menu .pager .num {
  padding: 0 65px;
  color: #666;
  font-size: 16px;
  width: auto;
}

.menu_w .menu .pager .num span {
  color: #222;
  font-weight: 700;
}

.menu_w .menu .slider {
  position: absolute;
  top: 120px;
  left: calc(50% - 355px);
  width: 1324px;
  overflow: hidden;
  padding-bottom: 50px;
}

.menu_w .menu .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_w .menu .slider ul li {
  position: relative;
  /*width: 360px; height: 360px;*/
  padding: 40px;
}

.menu_w .menu .slider ul li div.cur {
  display: none;
}

.menu_w .menu .slider ul li img {
  width: 100%;
}

.menu_w .menu .slider ul li:nth-of-type(3n) {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.menu_w .menu .slider ul li.swiper-slide-active {
  width: 534px !important;
  /*height: 534px;*/
  -webkit-box-shadow: 14px 14px 14px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 14px 14px 14px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 0;
}

.menu_w .menu .slider ul li.swiper-slide-active div.cur {
  display: block;
  position: absolute;
  text-align: center;
  line-height: 100px;
  color: #222;
  font-size: 16px;
  width: 100px;
  height: 100px;
  /*top: 20%; left: 20%;
                    margin: -50px 0 0 -50px;*/
  background: #fc4b0011;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  cursor: none;
}

.menu_w .menu .slider ul li.swiper-slide-active div.cur span {
  text-align: center;
  color: #222;
  font-weight: 400;
}

.menu_w .menu .slider ul li p {
  position: absolute;
  left: 80px;
  bottom: 80px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.menu_w .menu .slider ul li.swiper-slide-active p {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.menu_w .menu .slider ul li i {
  display: none;
}

.menu_w .menu .slider ul li.swiper-slide-active i {
  width: 16px;
  height: 22px;
  display: inline-block;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.menu_w .menu .slider ul li i img {
  width: 100%;
}

.menu_w .menu .slider div.cur {
  display: block;
  position: absolute;
  text-align: center;
  line-height: 100px;
  color: #222;
  font-size: 16px;
  width: 100px;
  height: 100px;
  /*top: 20%; left: 20%;*/
  margin: -50px 0 0 -50px;
  background: #fc4b0011;
  pointer-events: none;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  cursor: none;
}

.banner {
  background: url("../img/banner_bg.jpg") center;
}

.banner .banner_w {
  width: 1480px;
  height: 1135px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner_w h2 {
  font-size: 64px;
  font-family: 'Archivo Black', sans-serif;
  color: #d1aa77;
  text-align: center;
  line-height: 70px;
}

.banner .banner_w h2 span {
  color: #fff;
  text-shadow: -1px -1px 0 #d1aa77, 1px -1px 0 #d1aa77, -1px 1px 0 #d1aa77, 1px 1px 0 #d1aa77;
  display: block;
}

.banner .banner_w .bn {
  position: absolute;
  overflow: hidden;
}

.banner .banner_w .bn .img_w img {
  -webkit-transition: .5s;
  transition: .5s;
}

.banner .banner_w .bn .txt {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner_w .bn .txt p {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.banner .banner_w .bn:hover .img_w img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner .banner_w .bn:hover .txt {
  border: 0;
  width: 100%;
  height: 100%;
  background: rgba(115, 95, 69, 0.8);
  left: 0;
  top: 0;
}

.banner .banner_w .bn:hover .txt p::after {
  content: '';
  display: inline-block;
}

.banner .banner_w .banner_01 {
  left: 0;
  top: 120px;
  width: 480px;
  height: 300px;
}

.banner .banner_w .banner_02 {
  right: 125px;
  top: 220px;
  width: 355px;
  height: 355px;
}

.banner .banner_w .banner_03 {
  left: 290px;
  top: 710px;
  width: 240px;
  height: 240px;
}

.banner .banner_w .banner_04 {
  right: 0;
  top: 755px;
  width: 375px;
  height: 260px;
}

.banner .banner_w .banner_05 {
  left: 50px;
  top: 835px;
  width: 180px;
  height: 180px;
}

footer {
  background: #2b2926;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .logo {
  width: 16%;
  padding-top: 35px;
  text-align: center;
}

footer .copy {
  width: 59%;
  padding-top: 35px;
  color: #fff;
}

footer .copy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copy ul li {
  margin: 0 30px 0 0;
}

footer .copy ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

footer .copy p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  padding-top: 15px;
}

footer .sns {
  width: 25%;
}

footer .sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

footer .sns ul li {
  height: 44px;
  line-height: 44px;
}

footer .sns ul li.store {
  width: 145px;
  height: 44px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.15);
  text-align: center;
  margin-left: 10px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgt-125 {
  margin-top: 125px;
}
/*# sourceMappingURL=style.css.map */